.toolbar{
  background-color: var(--navbar-main);
  color: var(--text-color);
  padding-right: 15px;
  padding-left: 15px;
}

.spacer{
  flex: 1 1 auto;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.mat-menu-panel{
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 5px;
}

.mat-menu-item{
  color: var(--text-color);

}

[mat-menu-item=disconnect]{
  color: var(--text-warning);
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after{
  color: var(--text-color) !important;
}


